{
    "presets": [
        ["@babel/preset-env", 
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    // Comment this out for production
    "plugins": [
        "react-refresh/babel"
    ]

}